a.reddit-link-title.may-blank {
  background: none !important; }

a.reddit-comment-link.may-blank {
  background: none !important; }

.res-nightmode a.title:visited, html:lang(NM) a.title:visited {
  color: #C285FF !important; }

a[href="/intensifies"] {
  color: #000000;
  display: block;
  font-size: 15px;
  animation: intensify 0.1s steps(5) infinite;
  -webkit-animation: intensify 0.1s steps(5) infinite;
  -moz-animation: intensify 0.1s steps(5) infinite; }

@keyframes intensify {
  0% {
    margin-left: 0px; }
  100% {
    margin-left: 2px; } }
@-webkit-keyframes intensify {
  0% {
    margin-left: 0px; }
  100% {
    margin-left: 2px; } }
@-moz-keyframes intensify {
  0% {
    margin-left: 0px; }
  100% {
    margin-left: 2px; } }
a[href="/intensifies"]:before {
  content: "["; }

a[href="/intensifies"]:after {
  content: "]"; }

/* Another one */
a[href="/pulsate"] {
  color: #fff;
  background-color: #ff3296;
  animation: pulse 1s ease infinite;
  /* transition: transform 0.2s; */
  -webkit-animation: pulse 1s ease infinite;
  -moz-animation: pulse 1s ease infinite; }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
@-webkit-keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
@-moz-keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
a[href="/pulsate"]:before {
  content: "["; }

a[href="/pulsate"]:after {
  content: "]"; }

.flair-kirbin24 {
  background-image: url("%%flair2%%");
  width: 50px;
  height: 50px;
  background-color: transparent !important; }

/*======New Flair Preview: 350======== */
.flairselector .customizer {
  display: inline-block !important; }

.flair {
  position: relative;
  left: 4px;
  margin-top: 8px;
  top: 0px;
  border-width: 0px; }

.commentarea {
  background: #fff;
  width: 75.3%; }

.link .flairselector {
  position: fixed !important; }

.title .linkflairlabel {
  position: absolute; }

.linkflair > .RES-keyNav-activeElement {
  margin-right: 5px; }

.flairselector .customizer {
  display: inline-block !important; }

.flair, .flair:hover {
  border-width: 0px;
  min-width: 45px;
  min-height: 45px;
  max-height: 100px;
  max-width: 100px; }

.flair:hover:before {
  position: absolute;
  width: auto;
  margin: 20px 90px 0;
  font-size: 1 !important;
  border: 1px solid;
  padding: 0px 1px;
  white-space: nowrap; }

.flair-0001, .flair-0002, .flair-0003, .flair-0004, .flair-0005, .flair-0006, .flair-0007, .flair-0008, .flair-0009, .flair-0010, .flair-0011, .flair-0012, .flair-0013, .flair-0014, .flair-0015, .flair-0016, .flair-0017, .flair-0018, .flair-0019, .flair-0020, .flair-0021, .flair-0022, .flair-0023, .flair-0024, .flair-0025, .flair-0026, .flair-0027, .flair-0028, .flair-0029, .flair-0030, .flair-0031, .flair-0032, .flair-0033, .flair-0034, .flair-0035, .flair-0036, .flair-0037, .flair-0038, .flair-0039, .flair-0040, .flair-0041, .flair-0042, .flair-0043, .flair-0044, .flair-0045, .flair-0046, .flair-0047, .flair-0048, .flair-0049, .flair-0050, .flair-0051, .flair-0052, .flair-0053, .flair-0054, .flair-0055, .flair-0056, .flair-0057, .flair-0058, .flair-0059, .flair-0060, .flair-0061, .flair-0062, .flair-0063, .flair-0064, .flair-0065, .flair-0066, .flair-0067, .flair-0068, .flair-0069, .flair-0070, .flair-0071, .flair-0072, .flair-0073, .flair-0074, .flair-0075, .flair-0076, .flair-0077, .flair-0078, .flair-0079, .flair-0080, .flair-0081, .flair-0082, .flair-0083, .flair-0084, .flair-0085, .flair-0086, .flair-0087, .flair-0088, .flair-0089, .flair-0090, .flair-0091, .flair-0092, .flair-0093, .flair-0094, .flair-0095, .flair-0096, .flair-0097, .flair-0098, .flair-0099, .flair-0100 {
  background: url(%%flair1%%); }

.flair-0101, .flair-0102, .flair-0103, .flair-0104, .flair-0105, .flair-0106, .flair-0107, .flair-0108, .flair-0109, .flair-0110, .flair-0111, .flair-0112, .flair-0113, .flair-0114, .flair-0115, .flair-0116, .flair-0117, .flair-0118, .flair-0119, .flair-0120, .flair-0121, .flair-0122, .flair-0123, .flair-0124, .flair-0125, .flair-0126, .flair-0127, .flair-0128, .flair-0129, .flair-0130, .flair-0131, .flair-0132, .flair-0133, .flair-0134, .flair-0135, .flair-0136, .flair-0137, .flair-0138, .flair-0139, .flair-0140, .flair-0141, .flair-0142, .flair-0143, .flair-0144, .flair-0145, .flair-0146, .flair-0147, .flair-0148, .flair-0149, .flair-0150, .flair-0151, .flair-0152, .flair-0153, .flair-0154, .flair-0155, .flair-0156, .flair-0157, .flair-0158, .flair-0159, .flair-0160, .flair-0161, .flair-0162, .flair-0163, .flair-0164, .flair-0165, .flair-0166, .flair-0167, .flair-0168, .flair-0169, .flair-0170, .flair-0171, .flair-0172, .flair-0173, .flair-0174, .flair-0175, .flair-0176, .flair-0177, .flair-0178, .flair-0179, .flair-0180, .flair-0181, .flair-0182, .flair-0183, .flair-0184, .flair-0185, .flair-0186, .flair-0187, .flair-0188, .flair-0189, .flair-0190, .flair-0191, .flair-0192, .flair-0193, .flair-0194, .flair-0195, .flair-0196, .flair-0197, .flair-0198, .flair-0199, .flair-0200 {
  background: url(%%flair2%%); }

.flair-0201, .flair-0202, .flair-0203, .flair-0204, .flair-0205, .flair-0206, .flair-0207, .flair-0208, .flair-0209, .flair-0210, .flair-0211, .flair-0212, .flair-0213, .flair-0214, .flair-0215, .flair-0216, .flair-0217, .flair-0218, .flair-0219, .flair-0220, .flair-0221, .flair-0222, .flair-0223, .flair-0224, .flair-0225, .flair-0226, .flair-0227, .flair-0228, .flair-0229, .flair-0230, .flair-0231, .flair-0232, .flair-0233, .flair-0234, .flair-0235, .flair-0236, .flair-0237, .flair-0238, .flair-0239, .flair-0240, .flair-0241, .flair-0242, .flair-0243, .flair-0244, .flair-0245, .flair-0246, .flair-0247, .flair-0248, .flair-0249, .flair-0250, .flair-0251, .flair-0252, .flair-0253, .flair-0254, .flair-0255, .flair-0256, .flair-0257, .flair-0258, .flair-0259, .flair-0260, .flair-0261, .flair-0262, .flair-0263, .flair-0264, .flair-0265, .flair-0266, .flair-0267, .flair-0268, .flair-0269, .flair-0270, .flair-0271, .flair-0272, .flair-0273, .flair-0274, .flair-0275, .flair-0276, .flair-0277, .flair-0278, .flair-0279, .flair-0280, .flair-0281, .flair-0282, .flair-0283, .flair-0284, .flair-0285, .flair-0286, .flair-0287, .flair-0288, .flair-0289, .flair-0290, .flair-0291, .flair-0292, .flair-0293, .flair-0294, .flair-0295, .flair-0296, .flair-0297, .flair-0298, .flair-0299, .flair-0300 {
  background: url(%%flair3%%); }

.flair-0301, .flair-0302, .flair-0303, .flair-0304, .flair-0305, .flair-0306, .flair-0307, .flair-0308, .flair-0309, .flair-0310, .flair-0311, .flair-0312, .flair-0313, .flair-0314, .flair-0315, .flair-0316, .flair-0317, .flair-0318, .flair-0319, .flair-0320, .flair-0321, .flair-0322, .flair-0323, .flair-0324, .flair-0325, .flair-0326, .flair-0327, .flair-0328, .flair-0329, .flair-0330, .flair-0331, .flair-0332, .flair-0333, .flair-0334, .flair-0335, .flair-0336, .flair-0337, .flair-0338, .flair-0339, .flair-0340, .flair-0341, .flair-0342, .flair-0343, .flair-0344, .flair-0345, .flair-0346, .flair-0347, .flair-0348, .flair-0349, .flair-0350, .flair-0351, .flair-0352, .flair-0353, .flair-0354, .flair-0355, .flair-0356, .flair-0357, .flair-0358, .flair-0359, .flair-0360, .flair-0361, .flair-0362, .flair-0363, .flair-0364, .flair-0365, .flair-0366, .flair-0367, .flair-0368, .flair-0369, .flair-0370, .flair-0371, .flair-0372, .flair-0373, .flair-0374, .flair-0375, .flair-0376, .flair-0377, .flair-0378, .flair-0379, .flair-0380, .flair-0381, .flair-0382, .flair-0383, .flair-0384, .flair-0385, .flair-0386, .flair-0387, .flair-0388, .flair-0389, .flair-0390, .flair-0391, .flair-0392, .flair-0393, .flair-0394, .flair-0395, .flair-0396, .flair-0397, .flair-0398, .flair-0399, .flair-0400 {
  background: url(%%flair4%%); }

.flair-0401, .flair-0402, .flair-0403, .flair-0404, .flair-0405, .flair-0406, .flair-0407, .flair-0408, .flair-0409, .flair-0410, .flair-0411, .flair-0412, .flair-0413, .flair-0414, .flair-0415, .flair-0416, .flair-0417, .flair-0418, .flair-0419, .flair-0420, .flair-0421, .flair-0422, .flair-0423, .flair-0424, .flair-0425, .flair-0426, .flair-0427, .flair-0428, .flair-0429, .flair-0430, .flair-0431, .flair-0432, .flair-0433, .flair-0434, .flair-0435, .flair-0436, .flair-0437, .flair-0438, .flair-0439, .flair-0440, .flair-0441, .flair-0442, .flair-0443, .flair-0444, .flair-0445, .flair-0446, .flair-0447, .flair-0448, .flair-0449, .flair-0450, .flair-0451, .flair-0452, .flair-0453, .flair-0454, .flair-0455, .flair-0456, .flair-0457, .flair-0458, .flair-0459, .flair-0460, .flair-0461, .flair-0462, .flair-0463, .flair-0464, .flair-0465, .flair-0466, .flair-0467, .flair-0468, .flair-0469, .flair-0470, .flair-0471, .flair-0472, .flair-0473, .flair-0474, .flair-0475, .flair-0476, .flair-0477, .flair-0478, .flair-0479, .flair-0480, .flair-0481, .flair-0482, .flair-0483, .flair-0484, .flair-0485, .flair-0486, .flair-0487, .flair-0488, .flair-0489, .flair-0490, .flair-0491, .flair-0492, .flair-0493, .flair-0494, .flair-0495, .flair-0496, .flair-0497, .flair-0498, .flair-0499, .flair-0500 {
  background: url(%%flair5%%); }

.flair-0501, .flair-0502, .flair-0503, .flair-0504, .flair-0505, .flair-0506, .flair-0507, .flair-0508, .flair-0509, .flair-0510, .flair-0511, .flair-0512, .flair-0513, .flair-0514, .flair-0515, .flair-0516, .flair-0517, .flair-0518, .flair-0519, .flair-0520, .flair-0521, .flair-0522, .flair-0523, .flair-0524, .flair-0525, .flair-0526, .flair-0527, .flair-0528, .flair-0529, .flair-0530, .flair-0531, .flair-0532, .flair-0533, .flair-0534, .flair-0535, .flair-0536, .flair-0537, .flair-0538, .flair-0539, .flair-0540, .flair-0541, .flair-0542, .flair-0543, .flair-0544, .flair-0545, .flair-0546, .flair-0547, .flair-0548, .flair-0549, .flair-0550, .flair-0551, .flair-0552, .flair-0553, .flair-0554, .flair-0555, .flair-0556, .flair-0557, .flair-0558, .flair-0559, .flair-0560, .flair-0561, .flair-0562, .flair-0563, .flair-0564, .flair-0565, .flair-0566, .flair-0567, .flair-0568, .flair-0569, .flair-0570, .flair-0571, .flair-0572, .flair-0573, .flair-0574, .flair-0575, .flair-0576, .flair-0577, .flair-0578, .flair-0579, .flair-0580, .flair-0581, .flair-0582, .flair-0583, .flair-0584, .flair-0585, .flair-0586, .flair-0587, .flair-0588, .flair-0589, .flair-0590, .flair-0591, .flair-0592, .flair-0593, .flair-0594, .flair-0595, .flair-0596, .flair-0597, .flair-0598, .flair-0599, .flair-0600 {
  background: url(%%flair6%%); }

.flair-0601, .flair-0602, .flair-0603, .flair-0604, .flair-0605, .flair-0606, .flair-0607, .flair-0608, .flair-0609, .flair-0610, .flair-0611, .flair-0612, .flair-0613, .flair-0614, .flair-0615, .flair-0616, .flair-0617, .flair-0618, .flair-0619, .flair-0620, .flair-0621, .flair-0622, .flair-0623, .flair-0624, .flair-0625, .flair-0626, .flair-0627, .flair-0628, .flair-0629, .flair-0630, .flair-0631, .flair-0632, .flair-0633, .flair-0634, .flair-0635, .flair-0636, .flair-0637, .flair-0638, .flair-0639, .flair-0640, .flair-0641, .flair-0642, .flair-0643, .flair-0644, .flair-0645, .flair-0646, .flair-0647, .flair-0648, .flair-0649, .flair-0650, .flair-0651, .flair-0652, .flair-0653, .flair-0654, .flair-0655, .flair-0656, .flair-0657, .flair-0658, .flair-0659, .flair-0660, .flair-0661, .flair-0662, .flair-0663, .flair-0664, .flair-0665, .flair-0666, .flair-0667, .flair-0668, .flair-0669, .flair-0670, .flair-0671, .flair-0672, .flair-0673, .flair-0674, .flair-0675, .flair-0676, .flair-0677, .flair-0678, .flair-0679, .flair-0680, .flair-0681, .flair-0682, .flair-0683, .flair-0684, .flair-0685, .flair-0686, .flair-0687, .flair-0688, .flair-0689, .flair-0690, .flair-0691, .flair-0692, .flair-0693, .flair-0694, .flair-0695, .flair-0696, .flair-0697, .flair-0698, .flair-0699, .flair-0700 {
  background: url(%%flair7%%); }

.flair-0701, .flair-0702, .flair-0703, .flair-0704, .flair-0705, .flair-0706, .flair-0707, .flair-0708, .flair-0709, .flair-0710, .flair-0711, .flair-0712, .flair-0713, .flair-0714, .flair-0715, .flair-0716, .flair-0717, .flair-0718, .flair-0719, .flair-0720, .flair-0721, .flair-0722, .flair-0723, .flair-0724, .flair-0725, .flair-0726, .flair-0727, .flair-0728, .flair-0729, .flair-0730, .flair-0731, .flair-0732, .flair-0733, .flair-0734, .flair-0735, .flair-0736, .flair-0737, .flair-0738, .flair-0739, .flair-0740, .flair-0741, .flair-0742, .flair-0743, .flair-0744, .flair-0745, .flair-0746, .flair-0747, .flair-0748, .flair-0749, .flair-0750, .flair-0751, .flair-0752, .flair-0753, .flair-0754, .flair-0755, .flair-0756, .flair-0757, .flair-0758, .flair-0759, .flair-0760, .flair-0761, .flair-0762, .flair-0763, .flair-0764, .flair-0765, .flair-0766, .flair-0767, .flair-0768, .flair-0769, .flair-0770, .flair-0771, .flair-0772, .flair-0773, .flair-0774, .flair-0775, .flair-0776, .flair-0777, .flair-0778, .flair-0779, .flair-0780, .flair-0781, .flair-0782, .flair-0783, .flair-0784, .flair-0785, .flair-0786, .flair-0787, .flair-0788, .flair-0789, .flair-0790, .flair-0791, .flair-0792, .flair-0793, .flair-0794, .flair-0795, .flair-0796, .flair-0797, .flair-0798, .flair-0799, .flair-0800 {
  background: url(%%flair8%%); }

.flair-0001, .flair-0101, .flair-0201, .flair-0301, .flair-0401, .flair-0501, .flair-0601, .flair-0701 {
  background-position: -2px -3px; }

.flair-0002, .flair-0102, .flair-0202, .flair-0302, .flair-0402, .flair-0502, .flair-0602, .flair-0702 {
  background-position: -2px -53px; }

.flair-0003, .flair-0103, .flair-0203, .flair-0303, .flair-0403, .flair-0503, .flair-0603, .flair-0703 {
  background-position: -2px -103px; }

.flair-0004, .flair-0104, .flair-0204, .flair-0304, .flair-0404, .flair-0504, .flair-0604, .flair-0704 {
  background-position: -2px -153px; }

.flair-0005, .flair-0105, .flair-0205, .flair-0305, .flair-0405, .flair-0505, .flair-0605, .flair-0705 {
  background-position: -2px -203px; }

.flair-0006, .flair-0106, .flair-0206, .flair-0306, .flair-0406, .flair-0506, .flair-0606, .flair-0706 {
  background-position: -2px -253px; }

.flair-0007, .flair-0107, .flair-0207, .flair-0307, .flair-0407, .flair-0507, .flair-0607, .flair-0707 {
  background-position: -2px -303px; }

.flair-0008, .flair-0108, .flair-0208, .flair-0308, .flair-0408, .flair-0508, .flair-0608, .flair-0708 {
  background-position: -2px -353px; }

.flair-0009, .flair-0109, .flair-0209, .flair-0309, .flair-0409, .flair-0509, .flair-0609, .flair-0709 {
  background-position: -2px -403px; }

.flair-0010, .flair-0110, .flair-0210, .flair-0310, .flair-0410, .flair-0510, .flair-0610, .flair-0710 {
  background-position: -2px -453px; }

.flair-0011, .flair-0111, .flair-0211, .flair-0311, .flair-0411, .flair-0511, .flair-0611, .flair-0711 {
  background-position: -52px -3px; }

.flair-0012, .flair-0112, .flair-0212, .flair-0312, .flair-0412, .flair-0512, .flair-0612, .flair-0712 {
  background-position: -52px -53px; }

.flair-0013, .flair-0113, .flair-0213, .flair-0313, .flair-0413, .flair-0513, .flair-0613, .flair-0713 {
  background-position: -52px -103px; }

.flair-0014, .flair-0114, .flair-0214, .flair-0314, .flair-0414, .flair-0514, .flair-0614, .flair-0714 {
  background-position: -52px -153px; }

.flair-0015, .flair-0115, .flair-0215, .flair-0315, .flair-0415, .flair-0515, .flair-0615, .flair-0715 {
  background-position: -52px -203px; }

.flair-0016, .flair-0116, .flair-0216, .flair-0316, .flair-0416, .flair-0516, .flair-0616, .flair-0716 {
  background-position: -52px -253px; }

.flair-0017, .flair-0117, .flair-0217, .flair-0317, .flair-0417, .flair-0517, .flair-0617, .flair-0717 {
  background-position: -52px -303px; }

.flair-0018, .flair-0118, .flair-0218, .flair-0318, .flair-0418, .flair-0518, .flair-0618, .flair-0718 {
  background-position: -52px -353px; }

.flair-0019, .flair-0119, .flair-0219, .flair-0319, .flair-0419, .flair-0519, .flair-0619, .flair-0719 {
  background-position: -52px -403px; }

.flair-0020, .flair-0120, .flair-0220, .flair-0320, .flair-0420, .flair-0520, .flair-0620, .flair-0720 {
  background-position: -52px -453px; }

.flair-0021, .flair-0121, .flair-0221, .flair-0321, .flair-0421, .flair-0521, .flair-0621, .flair-0721 {
  background-position: -102px -3px; }

.flair-0022, .flair-0122, .flair-0222, .flair-0322, .flair-0422, .flair-0522, .flair-0622, .flair-0722 {
  background-position: -102px -53px; }

.flair-0023, .flair-0123, .flair-0223, .flair-0323, .flair-0423, .flair-0523, .flair-0623, .flair-0723 {
  background-position: -102px -103px; }

.flair-0024, .flair-0124, .flair-0224, .flair-0324, .flair-0424, .flair-0524, .flair-0624, .flair-0724 {
  background-position: -102px -153px; }

.flair-0025, .flair-0125, .flair-0225, .flair-0325, .flair-0425, .flair-0525, .flair-0625, .flair-0725 {
  background-position: -102px -203px; }

.flair-0026, .flair-0126, .flair-0226, .flair-0326, .flair-0426, .flair-0526, .flair-0626, .flair-0726 {
  background-position: -102px -253px; }

.flair-0027, .flair-0127, .flair-0227, .flair-0327, .flair-0427, .flair-0527, .flair-0627, .flair-0727 {
  background-position: -102px -303px; }

.flair-0028, .flair-0128, .flair-0228, .flair-0328, .flair-0428, .flair-0528, .flair-0628, .flair-0728 {
  background-position: -102px -353px; }

.flair-0029, .flair-0129, .flair-0229, .flair-0329, .flair-0429, .flair-0529, .flair-0629, .flair-0729 {
  background-position: -102px -403px; }

.flair-0030, .flair-0130, .flair-0230, .flair-0330, .flair-0430, .flair-0530, .flair-0630, .flair-0730 {
  background-position: -102px -453px; }

.flair-0031, .flair-0131, .flair-0231, .flair-0331, .flair-0431, .flair-0531, .flair-0631, .flair-0731 {
  background-position: -152px -3px; }

.flair-0032, .flair-0132, .flair-0232, .flair-0332, .flair-0432, .flair-0532, .flair-0632, .flair-0732 {
  background-position: -152px -53px; }

.flair-0033, .flair-0133, .flair-0233, .flair-0333, .flair-0433, .flair-0533, .flair-0633, .flair-0733 {
  background-position: -152px -103px; }

.flair-0034, .flair-0134, .flair-0234, .flair-0334, .flair-0434, .flair-0534, .flair-0634, .flair-0734 {
  background-position: -152px -153px; }

.flair-0035, .flair-0135, .flair-0235, .flair-0335, .flair-0435, .flair-0535, .flair-0635, .flair-0735 {
  background-position: -152px -203px; }

.flair-0036, .flair-0136, .flair-0236, .flair-0336, .flair-0436, .flair-0536, .flair-0636, .flair-0736 {
  background-position: -152px -253px; }

.flair-0037, .flair-0137, .flair-0237, .flair-0337, .flair-0437, .flair-0537, .flair-0637, .flair-0737 {
  background-position: -152px -303px; }

.flair-0038, .flair-0138, .flair-0238, .flair-0338, .flair-0438, .flair-0538, .flair-0638, .flair-0738 {
  background-position: -152px -353px; }

.flair-0039, .flair-0139, .flair-0239, .flair-0339, .flair-0439, .flair-0539, .flair-0639, .flair-0739 {
  background-position: -152px -403px; }

.flair-0040, .flair-0140, .flair-0240, .flair-0340, .flair-0440, .flair-0540, .flair-0640, .flair-0740 {
  background-position: -152px -453px; }

.flair-0041, .flair-0141, .flair-0241, .flair-0341, .flair-0441, .flair-0541, .flair-0641, .flair-0741 {
  background-position: -202px -3px; }

.flair-0042, .flair-0142, .flair-0242, .flair-0342, .flair-0442, .flair-0542, .flair-0642, .flair-0742 {
  background-position: -202px -53px; }

.flair-0043, .flair-0143, .flair-0243, .flair-0343, .flair-0443, .flair-0543, .flair-0643, .flair-0743 {
  background-position: -202px -103px; }

.flair-0044, .flair-0144, .flair-0244, .flair-0344, .flair-0444, .flair-0544, .flair-0644, .flair-0744 {
  background-position: -202px -153px; }

.flair-0045, .flair-0145, .flair-0245, .flair-0345, .flair-0445, .flair-0545, .flair-0645, .flair-0745 {
  background-position: -202px -203px; }

.flair-0046, .flair-0146, .flair-0246, .flair-0346, .flair-0446, .flair-0546, .flair-0646, .flair-0746 {
  background-position: -202px -253px; }

.flair-0047, .flair-0147, .flair-0247, .flair-0347, .flair-0447, .flair-0547, .flair-0647, .flair-0747 {
  background-position: -202px -303px; }

.flair-0048, .flair-0148, .flair-0248, .flair-0348, .flair-0448, .flair-0548, .flair-0648, .flair-0748 {
  background-position: -202px -353px; }

.flair-0049, .flair-0149, .flair-0249, .flair-0349, .flair-0449, .flair-0549, .flair-0649, .flair-0749 {
  background-position: -202px -403px; }

.flair-0050, .flair-0150, .flair-0250, .flair-0350, .flair-0450, .flair-0550, .flair-0650, .flair-0750 {
  background-position: -202px -453px; }

.flair-0051, .flair-0151, .flair-0251, .flair-0351, .flair-0451, .flair-0551, .flair-0651, .flair-0751 {
  background-position: -252px -3px; }

.flair-0052, .flair-0152, .flair-0252, .flair-0352, .flair-0452, .flair-0552, .flair-0652, .flair-0752 {
  background-position: -252px -53px; }

.flair-0053, .flair-0153, .flair-0253, .flair-0353, .flair-0453, .flair-0553, .flair-0653, .flair-0753 {
  background-position: -252px -103px; }

.flair-0054, .flair-0154, .flair-0254, .flair-0354, .flair-0454, .flair-0554, .flair-0654, .flair-0754 {
  background-position: -252px -153px; }

.flair-0055, .flair-0155, .flair-0255, .flair-0355, .flair-0455, .flair-0555, .flair-0655, .flair-0755 {
  background-position: -252px -203px; }

.flair-0056, .flair-0156, .flair-0256, .flair-0356, .flair-0456, .flair-0556, .flair-0656, .flair-0756 {
  background-position: -252px -253px; }

.flair-0057, .flair-0157, .flair-0257, .flair-0357, .flair-0457, .flair-0557, .flair-0657, .flair-0757 {
  background-position: -252px -303px; }

.flair-0058, .flair-0158, .flair-0258, .flair-0358, .flair-0458, .flair-0558, .flair-0658, .flair-0758 {
  background-position: -252px -353px; }

.flair-0059, .flair-0159, .flair-0259, .flair-0359, .flair-0459, .flair-0559, .flair-0659, .flair-0759 {
  background-position: -252px -403px; }

.flair-0060, .flair-0160, .flair-0260, .flair-0360, .flair-0460, .flair-0560, .flair-0660, .flair-0760 {
  background-position: -252px -453px; }

.flair-0061, .flair-0161, .flair-0261, .flair-0361, .flair-0461, .flair-0561, .flair-0661, .flair-0761 {
  background-position: -302px -3px; }

.flair-0062, .flair-0162, .flair-0262, .flair-0362, .flair-0462, .flair-0562, .flair-0662, .flair-0762 {
  background-position: -302px -53px; }

.flair-0063, .flair-0163, .flair-0263, .flair-0363, .flair-0463, .flair-0563, .flair-0663, .flair-0763 {
  background-position: -302px -103px; }

.flair-0064, .flair-0164, .flair-0264, .flair-0364, .flair-0464, .flair-0564, .flair-0664, .flair-0764 {
  background-position: -302px -153px; }

.flair-0065, .flair-0165, .flair-0265, .flair-0365, .flair-0465, .flair-0565, .flair-0665, .flair-0765 {
  background-position: -302px -203px; }

.flair-0066, .flair-0166, .flair-0266, .flair-0366, .flair-0466, .flair-0566, .flair-0666, .flair-0766 {
  background-position: -302px -253px; }

.flair-0067, .flair-0167, .flair-0267, .flair-0367, .flair-0467, .flair-0567, .flair-0667, .flair-0767 {
  background-position: -302px -303px; }

.flair-0068, .flair-0168, .flair-0268, .flair-0368, .flair-0468, .flair-0568, .flair-0668, .flair-0768 {
  background-position: -302px -353px; }

.flair-0069, .flair-0169, .flair-0269, .flair-0369, .flair-0469, .flair-0569, .flair-0669, .flair-0769 {
  background-position: -302px -403px; }

.flair-0070, .flair-0170, .flair-0270, .flair-0370, .flair-0470, .flair-0570, .flair-0670, .flair-0770 {
  background-position: -302px -453px; }

.flair-0071, .flair-0171, .flair-0271, .flair-0371, .flair-0471, .flair-0571, .flair-0671, .flair-0771 {
  background-position: -352px -3px; }

.flair-0072, .flair-0172, .flair-0272, .flair-0372, .flair-0472, .flair-0572, .flair-0672, .flair-0772 {
  background-position: -352px -53px; }

.flair-0073, .flair-0173, .flair-0273, .flair-0373, .flair-0473, .flair-0573, .flair-0673, .flair-0773 {
  background-position: -352px -103px; }

.flair-0074, .flair-0174, .flair-0274, .flair-0374, .flair-0474, .flair-0574, .flair-0674, .flair-0774 {
  background-position: -352px -153px; }

.flair-0075, .flair-0175, .flair-0275, .flair-0375, .flair-0475, .flair-0575, .flair-0675, .flair-0775 {
  background-position: -352px -203px; }

.flair-0076, .flair-0176, .flair-0276, .flair-0376, .flair-0476, .flair-0576, .flair-0676, .flair-0776 {
  background-position: -352px -253px; }

.flair-0077, .flair-0177, .flair-0277, .flair-0377, .flair-0477, .flair-0577, .flair-0677, .flair-0777 {
  background-position: -352px -303px; }

.flair-0078, .flair-0178, .flair-0278, .flair-0378, .flair-0478, .flair-0578, .flair-0678, .flair-0778 {
  background-position: -352px -353px; }

.flair-0079, .flair-0179, .flair-0279, .flair-0379, .flair-0479, .flair-0579, .flair-0679, .flair-0779 {
  background-position: -352px -403px; }

.flair-0080, .flair-0180, .flair-0280, .flair-0380, .flair-0480, .flair-0580, .flair-0680, .flair-0780 {
  background-position: -352px -453px; }

.flair-0081, .flair-0181, .flair-0281, .flair-0381, .flair-0481, .flair-0581, .flair-0681, .flair-0781 {
  background-position: -402px -3px; }

.flair-0082, .flair-0182, .flair-0282, .flair-0382, .flair-0482, .flair-0582, .flair-0682, .flair-0782 {
  background-position: -402px -53px; }

.flair-0083, .flair-0183, .flair-0283, .flair-0383, .flair-0483, .flair-0583, .flair-0683, .flair-0783 {
  background-position: -402px -103px; }

.flair-0084, .flair-0184, .flair-0284, .flair-0384, .flair-0484, .flair-0584, .flair-0684, .flair-0784 {
  background-position: -402px -153px; }

.flair-0085, .flair-0185, .flair-0285, .flair-0385, .flair-0485, .flair-0585, .flair-0685, .flair-0785 {
  background-position: -402px -203px; }

.flair-0086, .flair-0186, .flair-0286, .flair-0386, .flair-0486, .flair-0586, .flair-0686, .flair-0786 {
  background-position: -402px -253px; }

.flair-0087, .flair-0187, .flair-0287, .flair-0387, .flair-0487, .flair-0587, .flair-0687, .flair-0787 {
  background-position: -402px -303px; }

.flair-0088, .flair-0188, .flair-0288, .flair-0388, .flair-0488, .flair-0588, .flair-0688, .flair-0788 {
  background-position: -402px -353px; }

.flair-0089, .flair-0189, .flair-0289, .flair-0389, .flair-0489, .flair-0589, .flair-0689, .flair-0789 {
  background-position: -402px -403px; }

.flair-0090, .flair-0190, .flair-0290, .flair-0390, .flair-0490, .flair-0590, .flair-0690, .flair-0790 {
  background-position: -402px -453px; }

.flair-0091, .flair-0191, .flair-0291, .flair-0391, .flair-0491, .flair-0591, .flair-0691, .flair-0791 {
  background-position: -452px -3px; }

.flair-0092, .flair-0192, .flair-0292, .flair-0392, .flair-0492, .flair-0592, .flair-0692, .flair-0792 {
  background-position: -452px -53px; }

.flair-0093, .flair-0193, .flair-0293, .flair-0393, .flair-0493, .flair-0593, .flair-0693, .flair-0793 {
  background-position: -452px -103px; }

.flair-0094, .flair-0194, .flair-0294, .flair-0394, .flair-0494, .flair-0594, .flair-0694, .flair-0794 {
  background-position: -452px -153px; }

.flair-0095, .flair-0195, .flair-0295, .flair-0395, .flair-0495, .flair-0595, .flair-0695, .flair-0795 {
  background-position: -452px -203px; }

.flair-0096, .flair-0196, .flair-0296, .flair-0396, .flair-0496, .flair-0596, .flair-0696, .flair-0796 {
  background-position: -452px -253px; }

.flair-0097, .flair-0197, .flair-0297, .flair-0397, .flair-0497, .flair-0597, .flair-0697, .flair-0797 {
  background-position: -452px -303px; }

.flair-0098, .flair-0198, .flair-0298, .flair-0398, .flair-0498, .flair-0598, .flair-0698, .flair-0798 {
  background-position: -452px -353px; }

.flair-0099, .flair-0199, .flair-0299, .flair-0399, .flair-0499, .flair-0599, .flair-0699, .flair-0799 {
  background-position: -452px -403px; }

.flair-0100, .flair-0200, .flair-0300, .flair-0400, .flair-0500, .flair-0600, .flair-0700, .flair-0800 {
  background-position: -452px -453px; }

.flair-RAGEEX, .flair-gecko, .flair-kon, .flair-mack, .flair-Doom, .flair-stalin, .flair-Etrae, .flair-walri, .flair-moo, .flair-krillin, .flair-rph, .flair-kiwi, .flair-SZ, .flair-self, .flair-fknf, .flair-Vision, .flair-Boxer, .flair-reg, .flair-celo, .flair-LetterSequence, .flair-soph, .flair-iron, .flair-knee, .flair-monthly1, .flair-verl, .flair-clev, .flair-monthly2 {
  background-image: url("%%Customs%%");
  width: 90px;
  height: 52px;
  background-color: transparent !important; }

.flair-RAGEEX {
  background-position:   -5px    -3px; }

.flair-gecko {
  background-position:   -5px   -59px; }

.flair-kon {
  background-position:   -5px  -121px; }

.flair-mack {
  background-position:   -5px  -183px; }

.flair-Doom {
  background-position:   -5px  -245px; }

.flair-stalin {
  background-position:   -5px  -300px; }

.flair-Etrae {
  background-position:   -5px  -361px; }

.flair-walri {
  background-position:   -5px  -423px; }

.flair-moo {
  background-position:   -5px  -485px; }

.flair-krillin {
  background-position:   -5px  -547px; }

.flair-rph {
  background-position:   -5px  -603px; }

.flair-kiwi {
  background-position:   -5px  -671px; }

.flair-SZ {
  background-position:   -5px  -733px; }

.flair-self {
  background-position:   -5px  -795px; }

.flair-fknf {
  background-position:   -5px  -857px; }

.flair-Vision {
  background-position:   -5px  -919px; }

.flair-Boxer {
  background-position:   -5px  -981px; }

.flair-reg {
  background-position:   -5px -1037px; }

.flair-celo {
  background-position:   -5px -1092px; }

.flair-LetterSequence {
  background-position:   -5px -1152px; }

.flair-soph {
  background-position:   -5px -1214px; }

.flair-iron {
  background-position:   -5px -1276px; }

.flair-knee {
  background-position:   -5px -1338px; }

.flair-monthly1 {
  background-position:   -5px -1400px; }

.flair-verl {
  background-position:   -5px -1462px; }

.flair-clev {
  background-position:   -5px -1524px; }

.flair-monthly2 {
  background-position:   -5px -1586px; }

.flair-kirbin24 {
  background-position:   -200px -350px; }

.flair-RAGEEX:hover:before {
  content: "Job Description: ..."; }

.flair-gecko:hover:before {
  content: "Don't give up until the end!"; }

.flair-kon:hover:before {
  content: "Eh?"; }

.flair-mack:hover:before {
  content: "The Sleeping Mod"; }

.flair-Doom:hover:before {
  content: "The New Doom, same as the old Doom."; }

.flair-stalin:hover:before {
  content: "SKREEEEOOONK"; }

.flair-walri:hover:before {
  content: "I'm going to 'fix' this spaghetti!"; }

.flair-moo:hover:before {
  content: "King of Games"; }

.flair-krillin:hover:before {
  content: "Big and Moist."; }

.flair-rph:hover:before {
  content: "Rolling Pin Head"; }

.flair-kiwi:hover:before {
  content: "Here to take your heart."; }

.flair-self:hover:before {
  content: "I'm a traveler."; }

.flair-fknf:hover:before {
  content: "Avatar State Yip Yip!"; }

.flair-Vision:hover:before {
  content: "Hello, organic children of the planet Earth."; }

.flair-Boxer:hover:before {
  content: "Resident Kirby Aficionado"; }

.flair-reg:hover:before {
  content: "'I don't have a quote, I'm too busy shilling Worm' - Regvlas"; }

.flair-celo:hover:before {
  content: "Will it Scramble?"; }

.flair-LetterSequence:hover:before {
  content: "I had a Bowser..."; }

.flair-soph:hover:before {
  content: "I am by far the faster"; }

.flair-iron:hover:before {
  content: "The Dragon of the West"; }

.flair-knee:hover:before {
  content: "A taste before one thousand deaths."; }

.flair-verl:hover:before {
  content: "You will regret ever granting me this power."; }

.flair-clev:hover:before {
  content: "Produce respect threads, acquire females."; }

.flair-kirbin24:hover:before {
  content: "Rei is best girl."; }

.author[href$="mack0409"] {
  color: #05dd05;
  font-weight: bold;
  font-size: 135%; }

.author[href$="Roflmoo"] {
  color: #990099;
  font-weight: bold;
  font-size: 135%; }

.author[href$="FatKidNoFriends"] {
  color: #000000;
  font-weight: bold;
  font-size: 135%; }

.author[href$="Krillin"] {
  color: #FF0000;
  font-weight: bold;
  font-size: 135%; }

.author[href$="WWWMod"] {
  color: #00FF00;
  font-weight: bold;
  font-size: 135%; }

.author[href$="Etrae"] {
  color: #ff9900;
  font-weight: bold;
  font-size: 135%; }

.author[href$="rph39"] {
  color: #0099ff;
  font-weight: bold;
  font-size: 135%; }

.author[href$="CountAardvark"] {
  color: #E6C12E;
  font-weight: bold;
  font-size: 135%; }

.author[href$="RageExTwo"] {
  color: #000099;
  font-weight: bold;
  font-size: 135%; }

.author[href$="KiwiArms"] {
  color: #ff80aa;
  font-weight: bold;
  font-size: 135%; }

.author[href$="IronOhki"] {
  color: #009900;
  font-weight: bold;
  font-size: 135%; }

.author[href$="nkonrad"] {
  color: #FF9900;
  font-weight: bold;
  font-size: 135%; }

.author[href$="Sophophilic"] {
  color: #030730;
  font-weight: bold;
  font-size: 135%; }

.author[href$="PhoenixZero14"] {
  color: #FF0000;
  font-weight: bold;
  font-size: 135%; }

.author[href$="Verlux"] {
  color: #FF0000;
  font-weight: bold;
  font-size: 135%; }

/* unbolding nkonrad inline */
.author[href$="nkonrad"] {
  font-weight: normal;
  color: #369;
  font-size: 100%; }

.sidecontentbox .author[href$="nkonrad"] {
  font-weight: bold;
  color: #FF9900;
  font-size: 135%; }

/*# sourceMappingURL=justflair.css.map */
